.card1 {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card1 img {
    width: 400px;
}

.card1 p {
    font-size: 30px;;
    padding-left: 20px;
}