.card1 {
    background-color: rgb(101, 87, 69);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card1 img {
    width: 400px;
}

.card1 p {
    font-size: 30px;
    padding-left: 20px;
}


.card2 {
    background-color: gray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.card2 img {
    width: 400px;
    
}
 .card2 p {
    font-size: 30px;
    padding-right: 20px;
 }

 .card3 p {
    font-size: 30px;
    padding-left: 20px;
 }

.card4 img {
    width: ;
    

}
